
<html>
  <#include "../commom/header.ftl">
<body>
<div id="wrapper" class="toggled">

    <#include "../commom/nav.ftl">
    <div id="page-content-wrapper" >
        <div class="container">
    <div class="row clearfix">

        <div class="col-md-4 column">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>订单ID</th>
                    <th>订单总金额</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>${orderDTO.orderId}</td>
                    <td>${orderDTO.orderAmount}</td>
                 </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-12 column">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>
                        商品ID
                    </th>
                    <th>
                        商品名称
                    </th>
                    <th>
                        价格
                    </th>
                    <th>
                        数量
                    </th>
                    <th>
                        金额
                    </th>
                </tr>
                </thead>
                <tbody>
                    <#list orderDTO.orderDetailList as orderDetail>
                        <tr>
                            <td>${orderDetail.productId}</td>
                            <td>${orderDetail.productName}</td>
                            <td>${orderDetail.productPrice}</td>
                            <td>${orderDetail.productQuantity}</td>
                            <td>${orderDetail.productPrice * orderDetail.productQuantity}</td>
                        </tr>
                    </#list>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 column">
        </div>

        <#if orderDTO.getByOrderCode().message == "新订单">
        <div class="col-md-12 column">
            <a href="/sell/seller/order/finish?orderid=${orderDTO.orderId}" type="button" class="btn btn-default btn-primary">完结订单</a>
            <a href="/sell/seller/order/cancle?orderid=${orderDTO.orderId}" type="button" class="btn btn-default btn-danger">取消订单</a>
        </div>
        </#if>
    </div>
</div>
    </div>
</div>
</body>
</html>