
<html>

     <#include "../commom/header.ftl">
    <body>
    <div id="wrapper" class="toggled">

        <#include "../commom/nav.ftl">
            <div id="page-content-wrapper" >
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <table class="table table-bordered table-condensed">
                            <thead>
                            <tr>
                                <th>
                                    订单ID
                                </th>
                                <th>
                                    姓名
                                </th>
                                <th>
                                    手机号
                                </th>
                                <th>
                                    地址
                                </th>
                                <th>
                                    金额
                                </th>
                                <th>
                                    订单状态
                                </th>
                                <th>
                                    支付状态
                                </th>
                                <th>创建时间</th>
                                <th colspan="2">
                                    操作
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                     <#list orderDTOPage.content as orderDTO>
                     <tr>
                         <td>${orderDTO.orderId}</td>
                         <td>${orderDTO.buyerName}</td>
                         <td>${orderDTO.buyerPhone}</td>
                         <td>${orderDTO.buyerAddress}</td>
                         <td>${orderDTO.orderAmount}</td>
                         <td>${orderDTO.getByOrderCode().message}</td>
                         <td>${orderDTO.getByPayStatus().message}</td>
                         <td>${orderDTO.createTime}</td>
                         <td>
                             <a href="/sell/seller/order/detail?orderid=${orderDTO.orderId}">详情</a>
                         </td>
                         <td>
                         <#if orderDTO.getByOrderCode().getMessage() != "已取消" >
                             <a href="/sell/seller/order/cancle?orderid=${orderDTO.orderId}">取消</a>
                         </#if>
                         </td>

                     </tr>
                     </#list>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 column">
                        <ul class="pagination pull-right">
                    <#if currentPage lte 1>
                        <li class="disabled"><a href="#">上一页</a></li>
                    <#else >
                        <li ><a href="/sell/seller/order/list?page=${currentPage-1}&size=10">上一页</a></li>
                    </#if>
                    <#list 1..orderDTOPage.getTotalPages() as index>
                        <#if currentPage == index>
                        <li class="disabled"><a href="#" >${index}</a></li>
                        <#else >
                        <li><a href="/sell/seller/order/list?page=${index}&size=10" >${index}</a></li>
                        </#if>
                    </#list>
                     <#if currentPage gte orderDTOPage.getTotalPages()>
                        <li class="disabled"><a href="#">下一页</a></li>
                     <#else >
                        <li ><a href="/sell/seller/order/list?page=${currentPage+1}&size=10">下一页</a></li>
                     </#if>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">
                        提醒
                    </h4>
                </div>
                <div class="modal-body">
                    你有新的订单
                </div>
                <div class="modal-footer">
                    <button onclick="javascript:document.getElementById('notice').pause()" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button onclick="location.reload()" type="button" class="btn btn-primary">查看新的新的订单</button>
                </div>
            </div>

        </div>

    </div>
//播放音乐
<audio id="notice" loop="loop">
    <source src="/sell/mp3/song.mp3" type="audio/mpeg" />

    </audio>

    <script src="https://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
        var webSocket = null;
        if('webSocket' in window){
            webSocket = new WebSocket('ws://localhost:8080/sell/webSocket');
            // alert("asdasd");

        }else {
            alert("该浏览器不支持webSocket");
        }
        webSocket.onopen = function (event) {
            console.log("建立连接");
        }
        webSocket.onclose = function (event) {
            console.log("关闭连接");
        }
        webSocket.onmessage = function (event) {
            console.log("收到消息: " + event.data);
            $('#myModal').modal('show');
            console.log("收到消息sadasdad: " + event.data);
            document.getElementById("notice").play();
        }
        webSocket.onerror  = function (event) {
            alert("webSocket通信发生错误");
        }
        webSocket.onbeforeunload = function (event) {
            webSocket.close();
        }
    </script>

    </body>
</html>