<!--pages/list/list.wxml-->
<view class='container'>
  <view class='widget'>
    <text class='column'>Id</text>
    <text class='column'>名字</text>
    <text class='column'>密码</text>
    <text class='link-column'>操作</text>
  </view>
  <scroll-view scroll-y='true'>
    <view>
      <block wx:for="{{list}}">
        <view class='widget'>
          <text class='column'>{{item.id}}</text>
          <text class='column'>{{item.username}}</text>
          <text class='column'>{{item.password}}</text>
          <view class='link-column'>
          <navigator class='link' url='../operations/operations?id={{item.id}}'>编辑</navigator> |
          <text class='link' bindtap='deleteUser' data-id='{{item.id}}' data-username='{{item.username}}'  data-index='{{index}}'>删除</text>
        </view>
        </view>
      </block>
    </view>
  </scroll-view>
  <button type='primary' bindtap='addUser'>添加个人信息</button>
</view>