
<html>

     <#include "../commom/header.ftl">
<body>
<div id="wrapper" class="toggled">
<#include "../commom/nav.ftl">
    <div id="page-content-wrapper" >
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-11 column">
                    <form role="form" method="post" action="/sell/seller/category/save">
                        <div class="form-group">
                            <label >类目名称</label>
                            <input type="text" class="form-control" name="categoryName" value="${(productCategory.categoryName)!''}"/>
                        </div>
                        <div class="form-group">
                            <label >type</label>
                            <input type="text" class="form-control" name="categoryType" value="${(productCategory.categoryType)!''}"/>
                        </div>



                        <input hidden type="text" name="categoryId" value="${(productCategory.categoryId)!''}" >
                         <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
    </div>
</div>
</div>
</body>
</html>